.section_projects {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--bgColor-primary);

  @media screen and (min-width: 768px) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.block {
  background-color: var(--color-white);
  margin-top: 48px;
  padding: 0 24px 24px;
  box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 768px) {
    padding: 0 60px 60px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 96px 96px;
  }

  &_title {
    display: flex;
    flex-direction: row;
    background-color: var(--bgColor-subtitle);
    border-radius: 0px 0px 8px 8px;
    padding: 20px 59px;
    justify-content: center;
    @media screen and (min-width: 768px) {
      width: 380px;
      padding: 28px 69px;
    }
  }
  &_icon {
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--textColor);
    margin-left: 10px;
  }
}
.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}
.library {
  color: var(--color-accent);
  margin-top: 32px;
  font-size: 22px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}
.description {
  margin-top: 16px;
  font-size: 15px;
}
.picture {
  margin-top: 32.5px;
  display: block;
  width: 300px;
  @media screen and (min-width: 768px) {
    width: 584px;
    height: 301px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    width: 756px;
    height: 301px;
  }
}
.wrapBtn {
  margin-top: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}
.btn {
  padding: 8px 47.5px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  &_view {
    &:hover {
      background-color: #78b4b6;
      border: 1px solid #78b4b6;
    }
  }
  &_github {
    background-color: transparent;
    padding: 8px 38px;
    &:hover {
      background-color: var(--color-white);
      border: 1px solid #78b4b6;
    }
  }
}
.linkView {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
}
.linkGitHub {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-accent);
  &:hover {
    color: #78b4b6;
  }
}
