.section_contact {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--bgColor-primary);

    @media screen and (min-width: 768px) {
    padding-top: 72px;
    padding-bottom: 72px;
    }
}
.block{
    padding: 0 24px 24px 24px;
    background-color: white;
}
.contact_info{
    background-color: var(--bgColor-accent);
    color:var(--color-white);
    border-radius: 0px 0px 8px 8px;
    padding: 26px 27px;
    font-size: 24px;
    font-weight: 600;
}
.contact_list{
    list-style: none;
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        gap:65px;
    }
}
.contact_item{
    font-size: 24px;
    margin-top: 32px;
}
.contact_title{
    font-size: 24px;
    margin-bottom: 12px;
}
.contact_tel{
    font-size: 24px;  
}
.contact_mail{
    font-size: 24px;
}
.wrap_download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.download{
    background: var(--color-accent);
    color:var(--color-white);
    padding: 8px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.list_link{
    list-style: none;
    display: flex;
    align-items: center;
    gap:10px;
}