.section_intro {
  padding-top: 24px;
  padding-bottom: 40px;
  background: var(--bgColor-primary);

  &::before {
    content: "";
    position: absolute;
    top: 69px;
    left: 0;
    width: 252px;
    height: 288px;
    z-index: 0;
    background-color: var(--bgColor-subtitle);
    @media screen and (min-width: 500px) {
      width: 302px;
    }
    @media screen and (min-width: 600px) {
      width: 372px;
    }
    @media screen and (min-width: 768px) {
      top: 95px;
      height: 579px;
      width: 65%;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 43px;
    padding-bottom: 68px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 99px;
    padding-bottom: 99px;
    background: linear-gradient(
      to right,
      var(--bgColor-subtitle) 40%,
      var(--bgColor-primary) 40%
    );
    &::before {
      display: none;
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 55px;
  @media screen and (min-width: 768px) {
    gap: 91px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 70px;
  }
}

.photo {
  margin: 0 auto;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 166px;
  height: 249px;
  @media screen and (min-width: 768px) {
    width: 344px;
    height: 492px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 338px;
    height: 488px;
  }
}

.intro_content {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 464px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 459px;
    margin: 0;
  }
}
.content {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  &_first {
    font-size: 40px;
    line-height: 49px;
    color: var(--color-accent);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 64px;
      line-height: 78px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
  &_second {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: 39px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
  &_third {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 27px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
  &_four {
    font-size: 14px;
    line-height: 17px;
    @media screen and (min-width: 768px) {
      font-size: 15px;
      line-height: 18px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
}
.switch {
  list-style-type: none;
  display: flex;
  gap: 16px;

  &_resume {
    background-color: var(--color-accent);
    border-radius: 8px;
    padding: 8px 0;

    &Btn {
      text-transform: uppercase;
      color: var(--color-white);
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      padding: 8px 47px;
    }
    @media screen and (min-width: 768px) {
      padding: 8px 8px;
    }
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
  &_projects {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 8px 0;
    border: 1px solid var(--color-accent);

    &Btn {
      text-transform: uppercase;
      color: var(--color-accent);
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      padding: 8px 39px;
      @media screen and (min-width: 768px) {
        padding: 8px 44px;
      }

      &:hover {
        color: var(--color-accent-hover);
      }
    }
    &:hover {
      border-color: var(--color-accent-hover);
    }
  }
}
