.section_footer{
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 1px solid black;
}
.footer{
    display: flex;
    justify-content: space-between;

    &_secured{
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
    }
    &_list{
        font-size: 16px;
        line-height: 20px;
        list-style-type: none;
        display: flex;
        gap: 55.5px;
    }
    &_item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &_title{
    font-size: 16px;
    line-height: 20px;
    }
    &_tel{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    }
    &_mail {
        font-size: 16px;
        line-height: 20px;
    }
}
.list_link{
    list-style-type: none;
    display: flex;
    gap:6px;
}
.item_link {
    &_telegram{
        background-color: aquamarine;
    }
    &_linkedin {
        background-color: hotpink;
    }
    &_git {
        background-color:red;
    }
}